<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Descrição
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
   <ion-img src="../assets/img/bolo-simples.jpg"></ion-img>
   <ion-label>Bolo de cenoura</ion-label>
   <ion-button routerLink="/formulario" expand="full" color="secondary">PEDIR ESSE BOLO AGORA</ion-button>
  </ion-content>