<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Formulário
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-item>
          <ion-label position="stacked">Bolo escolhido</ion-label>
          <ion-input placeholder="Bolo de cenoura" disabled></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Endereço de entrega</ion-label>
            <ion-input placeholder="Nome: Eric" disabled></ion-input>
            <ion-input placeholder="Rua tal" disabled></ion-input>
            <ion-input placeholder="Rua tal" disabled></ion-input>
          </ion-item>

          <ion-button (click)="presentLoading()" expand="full" color="secondary">CONFIRMAR PEDIDO</ion-button>
  </ion-content>