<ion-header translucent> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nossos bolos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Bolos</ion-label>
      </ion-list-header>

        <ion-item routerLink="/descricao" *ngFor="let bolo of bolos">
          <ion-thumbnail slot="start">
            <ion-img [src]="bolo.img"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{bolo.nome}}</h2>
            <p>{{bolo.val}}</p>
          </ion-label>
        </ion-item>

      </ion-list>
</ion-content>

